@using TAC.Utils.Helpers

@model events.tac.local.Models.EventList
<div class="content-list newslist">
    <ol class="media-list">
        @foreach (var eventItem in Model.Events)
        {
            <li class="media media-align-middle">
                <div class="media-left">
                    <a href="@eventItem.Url">@eventItem.EventImage</a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">
                        <a href="@eventItem.Url">@eventItem.ContentHeading</a>
                    </h3>
                    <div class="description">
                        <p>@eventItem.ContentIntro</p>
                    </div>
                </div>
                <div class="metadata well">@eventItem.StartDate</div>
            </li>
        }
    </ol>
</div>